{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block title %}PDFStack / Books{% endblock %}

{% block content %}
<div class="container text-center my-4 minh-75">
    <div class="container text-center border p-4 my-4">
        <form enctype="multipart/form-data" action="{% url 'home:books' %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="py-4">Add new book</legend>
                {{ form }}
                <button type="submit" class="btn btn-primary my-2">upload</button>
            </fieldset>
        </form>
    </div>

    {% if books %}
    <h3 class="text-center my-4">Books List</h3>
    <table class="table table-responsive-md table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Book Name</th>
                <th>Download Option</th>
                <th>Delete Option</th>
            </tr>
        </thead>
        {% for book in books %}
        <tr>
            <td><a href="{% url 'home:read-book' book.id %}">{{ book }}</a></td>
            <td><a href="{% url 'home:download-book' book.id %}">download</a></td>
            <td><a href="{% url 'home:delete-book' book.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div>
        <p class="text-muted">You don't have any book yet.</p>
    </div>
    {% endif %}
</div>
{% endblock %}