{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block title %}PDFStack - Login{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="py-4">Login</legend>
            {{ form|crispy }}
        </fieldset>
        <button type="submit" class="btn btn-primary mb-4">Login</button>
    </form>
    <p>
        <a class="mr-5" href="">reset my password</a>
        <a class="ml-5" href="{% url 'users:signup' %}">create new account</a>
    </p>
</div>
{% endblock %}