{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block title %}PDFStack - Signup{% endblock %}

{% block content %}
<div class="container text-center my-5 w-75">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="py-4">Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <button type="submit" class="btn btn-primary mb-4">Signup</button>
    </form>
    <small class="text-muted">Already have an account? please</small> <a href="{% url 'users:login' %}">Login</a>
    <samall class="text-muted">instead.</samall>
</div>
{% endblock %}