{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}PDFStack - Login{% endblock %}

{% block content %}
<div class="container text-center my-5 w-75">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="py-4">Login</legend>
            <div class="form-group">
                {{ form|crispy }}
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary mb-4">Login</button>
    </form>
    <div class="py-4">
        <a class="mr-5" href="{% url 'users:password-reset' %}">FORGOT PASSWORD?</a>
        <a class="ml-5" href="{% url 'users:signup' %}">NEW ACCOUNT</a>
    </div>
</div>
{% endblock %}