{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}PDFStack - Password Reset{% endblock %}

{% block content %}
<div class="container text-center my-5 w-75">
    <form method="POST" action="{% url 'users:password-reset' %}">
        {% csrf_token %}
        <fieldset>
            <legend class="py-5">Reset Password</legend>
            <div class="form-group">
                <input class="form-control" name="email" type="email" placeholder="Enter your email" required/>
            </div>
        </fieldset>
        <button class="btn btn-primary my-4">Reset</button>
    </form>
</div>
{% endblock content %}
