{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}PDFStack - Password Reset Confirm{% endblock %}

{% block content %}
<div class="container text-center my-5 w-75">
    <form method="POST" action="{% url 'users:password-reset-confirm' %}">
        {% csrf_token %}
        <fieldset>
            <legend class="py-5">Set new password</legend>
            <div class="form-group">
                <input type="hidden" name="token" value="{{ token }}" />
                <input class="form-control my-4" name="new-password" type="password" placeholder="Enter new password" required/>
                <input class="form-control my-4" name="confirm-password" type="password" placeholder="Confirm password" required/>
            </div>
        </fieldset>
        <button class="btn btn-primary my-4">Reset</button>
    </form>
</div>
{% endblock content %}
