{% extends "base.html" %}

{% block title %}PDFStack / Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="title">Profile Information</h2>
    <table class="table table-dark table-bordered my-4">
        <tr>
            <td><strong>Email</strong></td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td><strong>Number of books in the stack</strong></td>
            <td>{{ user.books.count }}</td>
        </tr>
    </table>
    {% if user_is_verified %}
    <span>Your email is verified.</span>
    {% else %}
    <span>Your email is not verified.</span>
    <form method="POST" action="{% url 'users:send-verify-email' %}">
        {% csrf_token %}
        <button class="btn btn-success">Verify now</button>
    </form>
    {% endif %}
    <div>
        <h2 class="my-4">Update Account Information</h2>
        <form method="POST" action="{% url 'users:profile' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" value="{{ user.email }}"
                    placeholder="example@host.com">
            </div>
            <div class="form-group">
                <label class="form-label" for="currentPassword">Current Password</label>
                <input class="form-control" type="password" id="currentPassword" name="currentPassword"
                    placeholder="current password">
            </div>
            <div class="form-group">
                <label class="form-label" for="newPassword">New Password</label>
                <input class="form-control" type="password" id="newPassword" name="newPassword"
                    placeholder="new password">
            </div>
            <div class="form-group">
                <label class="form-label" for="confirmPassword">Confirm Password</label>
                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                    placeholder="confirm password">
            </div>
            <button class="btn btn-primary my-4">Update</button>
        </form>
    </div>
</div>
{% endblock %}