.navbar {
    min-height: 80px;
    /* background-color: gray; */
}
.navbar-brand {
    font-size: 20px;
    font-weight: 900;
}
.nav-link {
    color: white!important;
    font-size: 20px;
    padding: 20px!important;
}
#header {
    background-image: url('../reading.jpg');
    width: 100%;
    height: 70vh;
    color: white;
    font-size: 36px;
    font-weight: 900;
    line-height: 70vh;
}

#header div {
    width: 100%;
    background: rgba(255, 255, 255, 25%);
}

/* img {
    width: 100%;
    height: 70vh;
    filter: opacity(90%);
} */